  include *.rst
  include *.txt
  include *.py
  include pyamtrack/libs
  include pyamtrack/libs/libamtrack.*
  include LICENSE
  include requirements.txt
  include tests/requirements-test.txt
  recursive-include docs *.py
  recursive-include docs *.rst
  recursive-include pyamtrack *.py
  recursive-include tests *.py
  include versioneer.py
  include pyamtrack/_version.py
  include install_deps.sh

  exclude .gitkeep
  exclude .gitconfig
  exclude tox.ini
  exclude .travis.yml
  exclude appveyor.yml
  prune .travis
