name: Windows Build & Test
permissions:
  contents: read
  pull-requests: write

on:
    workflow_dispatch:
    push:
      branches:
       - master

jobs:
  build_and_test_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for git describe and versioning

      - name: Create vcpkg and build directories
        run: |
          mkdir -Force "${{ github.workspace }}/vcpkg_cache"
          mkdir -Force "${{ github.workspace }}/vcpkg_installed"
          mkdir -Force build
        shell: pwsh

      - name: Restore vcpkg cache
        id: cache-vcpkg
        uses: actions/cache@v4
        with:
          path: vcpkg
          key: vcpkg-${{ runner.os }}-${{ hashFiles('vcpkg.json') }}
          restore-keys: vcpkg-${{ runner.os }}-

      - name: Install vcpkg
        if: steps.cache-vcpkg.outputs.cache-hit != 'true'
        run: |
          git clone --depth 1 https://github.com/microsoft/vcpkg
          .\vcpkg\bootstrap-vcpkg.bat -disableMetrics
        shell: pwsh

      - name: Restore vcpkg deps cache
        id: cache-vcpkg-deps
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-deps-${{ runner.os }}-${{ hashFiles('vcpkg.json') }}
          restore-keys: vcpkg-deps-${{ runner.os }}-

      - name: Restore vcpkg installed cache
        id: cache-vcpkg-installed
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg_installed
          key: vcpkg-installed-${{ runner.os }}-${{ hashFiles('vcpkg.json') }}
          restore-keys: vcpkg-installed-${{ runner.os }}-

      - name: Create vcpkg directories if needed
        if: steps.cache-vcpkg-deps.outputs.cache-hit != 'true' || steps.cache-vcpkg-installed.outputs.cache-hit != 'true'
        run: |
          mkdir -Force "${{ github.workspace }}/vcpkg_cache"
          mkdir -Force "${{ github.workspace }}/vcpkg_installed"
        shell: pwsh

      - name: Install vcpkg dependencies
        if: steps.cache-vcpkg-deps.outputs.cache-hit != 'true' || steps.cache-vcpkg-installed.outputs.cache-hit != 'true'
        env:
          VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg_cache
          VCPKG_INSTALLED_DIR: ${{ github.workspace }}/vcpkg_installed
        run: .\vcpkg\vcpkg.exe install

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Python dependencies
        run: pip install --upgrade build

      - name: Build Windows Wheel
        env:
          VCPKG_INSTALLED_DIR: ${{ github.workspace }}/vcpkg_installed
        run: python -m build

      - name: Test Wheel Installation
        shell: pwsh
        run: |
          python -m venv venv
          .\venv\Scripts\Activate.ps1
          # Find the first wheel file that matches the pattern in the dist folder.
          $wheel = Get-ChildItem -Path "dist\pyamtrack-*.whl" | Select-Object -First 1
          if (-not $wheel) {
              Write-Error "No wheel file matching 'dist\pyamtrack-*.whl' found!"
          } else {
              pip install $wheel.FullName
          }
          pip show -f pyamtrack
          python -c "import pyamtrack; print(pyamtrack.__doc__); print(dir(pyamtrack));"
          python -c "from pyamtrack.converters import beta_from_energy; print(beta_from_energy(150));"
          python -c "from pyamtrack.converters import energy_from_beta; print(energy_from_beta(0.5));"

      - name: Install pytest and test dependencies
        shell: pwsh
        run: |
          .\venv\Scripts\Activate.ps1
          pip install pytest

      - name: Run pytest
        shell: pwsh
        run: |
          .\venv\Scripts\Activate.ps1
          pytest tests/

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: libamtrack-windows
          path: dist/*.whl
          if-no-files-found: error
          retention-days: 5
